body{
    margin:0;
    padding:0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,98,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    display:flex;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

#wrapper{
    background-color: #000;
    border: 3px solid white;
    padding:1rem;
}

.container span{
    margin-left:10px;
}

#ampm{
    font-family: "Arial", sans-serif;
    font-size:3rem;
    align-items: end;
    color: red;
}

#clock {
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
  }
  
#date, #day {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
  }
#hours,
#mins,
#seconds {
      font-family: "Arial", sans-serif;
      font-size: 3rem;
      font-weight: bold;
      color: red;
  }
#country {
  text-align: center;  
}
#clock {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.hand {
  position: absolute;
  background-color: #333;
  transform-origin: bottom center;
}

#hour-hand {
  width: 8px;
  height: 70px;
  top: 30px;
  left: 96px;
  border-radius: 4px;
}

#minute-hand {
  width: 4px;
  height: 90px;
  top: 10px;
  left: 98px;
  border-radius: 2px;
}

#second-hand {
  width: 2px;
  height: 100px;
  top: 0;
  left: 99px;
  background-color: red;
}

#clock::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  top: 92px;
  left: 94px;
  z-index: 1;
}

#clock::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #333;
  top: 10px;
  left: 98px;
  z-index: 1;
}
